$main-font: "IBM Plex Sans", sans-serif !default

$purple: #1c1240 !default
$faded-purple: rgba(64,52,109,.6) !default
$font-color: #d0d5f2 !default
$vue-green: #41B883 !default
$vue-blue: #34495E !default
$vue-white: rgba(255,255,255, .87) !default
$react-blue: #61dafb !default
$react-grey: #20232a !default
